streamlit==1.49.0
pandas==2.3.2
numpy==1.26.4
opencv-python
Pillow
scikit-learn
matplotlib
protobuf

# Use tensorflow on Linux (server), tensorflow-macos on macOS (your local dev)
tensorflow==2.20.0; platform_system != "Darwin"
tensorflow-macos==2.20.0; platform_system == "Darwin"